# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Django stuff
db.sqlite3


# VS Code / PyCharm
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# pytest / coverage
.coverage
.pytest_cache/
htmlcov/
